body,
.container_principal{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container_banner{
    background-color: black;
    width: 100%;
    height: 10vh;
    overflow: hidden;
    display: flex;
    align-items: center
}

.container_banner img{
    position: relative;
    top: 0;
    height: 9vh;
    margin: 0 auto;
    cursor: pointer;
}

.tittle_principal{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 4% auto;
}

.container_categorias{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 58vh;
    margin: 1% auto 0 auto;
}

.container_item{
    position: relative;
    overflow: hidden;
    width: 92%;
    height: 82%;
    margin: 4%;
    border-radius: 24px;
}

.container_item:hover{
    box-shadow: 1px 1px 1px 1px black;
}

.container_item img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.fundo_preto{opacity: 0; position: absolute; width: 100%; height: 100%;}

.container_item:hover > .fundo_preto{
  background-color: rgba(0,0,0, .4);
  color: #fff;
  font-size: 2.4em;
  opacity: 1;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_fotter{
    background-color: black;
    color: #fff;
    text-align: center;
    margin: 0;
    width: 100%;
    position: relative;
    bottom: 0;
    height: 24vh;
    overflow: hidden;
  }

  .container_fotter a{
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 2.1rem;
      margin: 0 2%;
  }

.container_fotter h4{
    margin: 1% 0 2% 0;
}

.barra_copy h5{
    margin: 3% 0;
}

@media only screen and (max-width: 720px){
    .container_categorias{
       display: grid;
       grid-template-columns: 80%;
       grid-template-rows: repeat(4, 320px);
       margin: 6% auto 8% auto;
    }

    .container_item{
        width: 100%;
        height: 300px;
        margin:0% 12%;
    }
}